.bar {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border-bottom: 2px solid brown;
}

.pigeon {
    width: 34px;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 25px;
    /*bottom: -6px;*/
    background-image: url('../img/pigeons-1.png');
    background-position: 0 0;
    cursor: pointer;
    -webkit-transition-property: top, left;
    -moz-transition-property: top, left;
    -o-transition-property: top, left;
    transition-property: top, left;
    -webkit-transition-duration: 7s;
    -moz-transition-duration: 7s;
    -o-transition-duration: 7s;
    transition-duration: 7s;

}

.wings {
    background-position: 0 -30px;
}

.fly {
    left: -2550px;
    top: -1150px;
}
